@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
   Author: 
   Date:   

   Filename: sf_effects.css

*/

/* Body Header Styles */

/* #3 NOTE: instructions mention dropshadows, 
	not box-shadow pg 286 */
body {
   box-shadow:  
}


/* Navigation Tabs List Styles */
/* #4 */
body > header nav.tabs {
   
}



/* Left Section Styles */




/* Center Article Styles */




/* Blockquote Styles */


