@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
   Author: Berzaf Teklu
   Date:  10/06/2020

   Filename: sf_effects.css

*/

/* Body Header Styles */

/* #3 NOTE: instructions mention dropshadows, 
	not box-shadow pg 286 */
body {
   box-shadow: rgb(51, 51, 51) 10px 0px 50px, 
               rgb(51, 51, 51) -10px 0px 50px;
}


/* Navigation Tabs List Styles */
/* #4 */
body > header nav.tabs {
   background: url(sf_back1.png) 100% / cover no-repeat;
   
}
/* #5 Makes navs look like tabs pg 315 */
body > header nav.tabs li {
   transform: perspective(50px) rotate(20deg);
   
}
/* #6 all of selector but :hover in instructions */
body > header nav.tabs li:hover {
   background-color: rgb(231, 231, 231);
   
}

/* Left Section Styles */
/* #7 pg 258 */
section#left nav.vertical {
   border: 1px solid rgb(20, 167, 170);
   border-radius: 25px;
   
}

/* #8 selector not given */
section#left nav.vertical h1 {
   border-top-left-radius: 25px;
   border-top-right-radius: 25;

}

/* Center Article Styles */
/* #9a-c */
section#center article {
   background: radial-gradient(circle farthest-side, white 30% rgb(151, 151, 151));
   border: 1px solid rgb(151, 151, 151);
   border-radius: 50px;
   box-shadow: rgb(151, 151, 151) 10px 10px 20px;
   
}



/* Blockquote Styles */
/* #10a-b filter drop-shadow pg321 */ 
blockquote {
   background: url(sf-speech.png)
   center center / 100% 100% no-repeat;
   filter: drop-shadow(5px 5px 10px rgb(51, 51, 51));
   
}
/* #11 */
cite img {
   border-radius: 50%;
    
}


